html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    background-color: whitesmoke;
    cursor: default;
    -webkit-user-select: none;     
    -moz-user-select: none;
    -ms-user-select: none;
    color: #c5c5c5;
}

#instructions {
    padding: 20px;
    z-index: 1;
    position: absolute;
    font-family: "Century Gothic";
    font-size: 25px; 
}

#myCanvas {
    width:  100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    z-index: 2;
}

.setting {
    color: #b5b5d5;   
}